@using David_BritoAP1_P1.Models
@using David_BritoAP1_P1.Services
@inject ViajesEspacialesService ViajesEspaciales
@page "/viaje"
<PageTitle>RRegistro de viaje</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between align-center mb-4">
            <h5 class="card-title">Registro de viaje</h5>
            <a href="/viaje/agregar" class="btn btn-primary"> <span class="bi-plus-square mt-3"></span> Crear</a>
        </div>

        <div class="card-body">

            <div class="row ">

                <div class="col-3">
                    <label class="col-form-label"><strong>Filtro</strong></label>
                </div>


                <div class="col-4">
                    <label class="col-form-label"><strong>Búsqueda</strong></label>
                </div>
            </div>

            <table class="table table-hover">
                <thead class="table table-striped text-black">
                    <tr>
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>Descripcion</th>
                        <th>Costo</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@code {
}